<%= content_for :signin_css do %>  
<link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/assets/animate.css" rel="stylesheet" type="text/css">
<link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
<link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
<link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
<link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
<link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
<link href="/assets/custom.css" rel="stylesheet" type="text/css">

<!-- ==========================
	JS 
=========================== -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<% end %>

  <div class="container pad-top6">
      <div class="header-title">
          <div class="pull-left">
            <h2><span class="text-primary">eLEGEND - Terms of Service &amp; Privacy Policy</span></h2>                
          </div>
      </div>
  </div>

<div class="container pad-top6">
    <section class="content-wrapper">
    	  <div class="row">        
            <div class="col-sm-12"> 
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#terms" aria-controls="terms" role="tab" data-toggle="tab"><strong>Terms of Service</strong></a></li>
  <li role="presentation"><a href="#policy" aria-controls="policy" role="tab" data-toggle="tab"><strong>Privacy Policy</strong></a></li>
</ul>

<div class="tab-content">
   
   <div role="tabpanel" class="tab-pane active" id="terms"> 
    <h3><strong>Terms of Service</strong></h3>
<p>eLEGEND Terms of Service ("Statement", "Terms", or "TOS") governs our relationship with users and others who interact with eLEGEND, as well as eLEGEND brands, products and services which we collectively call "eLEGEND Services" or "Services". By using or accessing the eLEGEND Services, you agree to this Statement, as updated from time to time in accordance with Section 5 below.</p> 
<h4><strong>1. Sharing your Content</strong></h4> 
<p>You own all the content and information you post on eLEGEND. In addition:</p>
<ol>
  <li>By submitting your content on eLEGEND, you are granting us a worldwide, non-exclusive, transferable, sub-licensable, royalty-free license to use, publish, modify, transmit, display and distribute what you post to eLEGEND. This license ends when you delete your content or your account unless your content has been shared with others,&nbsp;and they have not deleted it.</li><li>When you publish content or information through the Public Channels on eLEGEND, you mean to allow everyone, including people off of eLEGEND, to access and use that information, as well as to associate that information with you.</li>
  <li>eLEGEND is always looking for your feedback or suggestions about us and that all feedback or&nbsp;suggestions willingly offered by you can be used by eLEGEND without any obligation to compensate you, just as you have no obligation to offer them.</li>
</ol> 
<h4><strong>2. Security</strong></h4>           
<p>We take reasonable steps to keep eLEGEND safe and secure, but we cannot guarantee its safety.&nbsp;We need your help to keep eLEGEND safe, which includes the following commitments by you:</p>
<ol>
  <li>You agree not to post spams and other unauthorized commercial communication on eLEGEND.</li><li>You agree not to collect users' content or information, or otherwise access eLEGEND, using harvesting bots, robots, spiders, scrapers or through any automatic means.</li>
  <li>You agree not to upload malicious codes such as viruses on eLEGEND.</li>
  <li>You agree not to solicit login information or access an account belonging to someone else.</li>
  <li>You agree not to bully, intimidate, or harass any eLEGEND users, communities, or teams.</li><li>You agree not to post the following content:&nbsp;hate speech, threats, pornography, nudity, graphical violence, or violence inciting content.</li>
  <li>You agree not to use eLEGEND to do anything unlawful, misleading, malicious, or discriminatory.<br></li>
  <li>You agree not to do anything that could disable, overburden, or impair the proper functionality or appearance of eLEGEND.</li>
  <li>You agree not to facilitate or encourage any violations of this Statement or eLEGEND policies.</li>
</ol>
<h4><strong>3. Registration and Account Security</strong></h4> 
<p>eLEGEND users use both in game name (IGN) and their real names and information, and we need everyone to play by the rules to keep it that way. These are the commitments you make to us relating to registering and maintaining the security of your account:</p>
<ol>
  <li>You agree not to provide any false personal information on eLEGEND, or create an account for anyone other than yourself without permission.</li>
  <li>You agree not to create more than one personal account.</li>
  <li>Create another account without our permission if we have disabled your account.</li>
  <li>You agree not to use eLEGEND if you are a convicted sex offender.<br></li>
  <li>You agree to keep your contact information up-to-date and maintain its accuracy at all times.</li>
  <li>You agree not to share your password, let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
  <li>You agree not to transfer your account to anyone without getting our written permission first.</li>
  <li>If you select a username or similar identifier for your account, we reserve the right to remove or reclaim it if we believe it&nbsp;to be&nbsp;appropriate (such as trademark infringement).<br></li>
</ol>
<h4><strong>4. Protecting Other People's Rights</strong></h4> 
<p>We at eLEGEND respects people's rights, and absolutely expect you to do the same.</p>
<ol>
  <li>You agree not to post content or take any action on eLEGEND that infringes or violates someone else's rights.</li>
  <li>You agree not to post content or take any action on eLEGEND&nbsp;that violates the law.</li><li>We will remove any content or information you post on eLEGEND if we believe that it violates this Statement or our policies. You may appeal any&nbsp;of these contents that we removed at <a data-behavior="truncate" href="mailto:support@elegend.net" target="_blank">support@elegend.net</a>.</li>
  <li>If we believe you have repeatedly infringed on other people's rights, we will disable your account.</li>
  <li>You will not use eLEGEND copyrights or Trademarks or any similar logos or markings, except you were granted written permission by us.</li>
  <li>If you collect information from users on eLEGEND, you will obtain their consent and make it clear that you, and not eLEGEND, are the one collecting their information. You will post a privacy policy explaining what information you are collecting and how you will use it.</li>
  <li>You will not post anyone's personal identification documents or financial information on eLEGEND.</li>
</ol>
<h4><strong>5. Amendments</strong></h4>
<p>We will notify you before we make changes to these terms. Your continued use of eLEGEND Services, after notice of changes to our terms, constitutes your acceptance of our amended terms.</p>
<h4><strong>6. Termination</strong></h4>
<p>If, in our sole discretion, finds that you have violated this Statement, we can stop providing all or part of eLEGEND to you. You may also delete your account at any time.</p>
<h4><strong>7. Disputes</strong></h4>
<ol>
  <li>You will resolve any disputes or claims relating to this Statement binding arbitration and&nbsp;as&nbsp;governed by the laws of the&nbsp;Province of Alberta&nbsp;regardless if there exists conflicts with&nbsp;the law of your&nbsp;province or country of residence.</li>
  <li>If there are claims brought against you relating to your actions, content or information on eLEGEND by anyone, you will indemnify and hold us harmless from and against all damages, losses and expenses of any kind (including legal fees and costs) related to such claims. We do not control or direct user actions on eLEGEND and are not responsible for the content or information users share or provide on eLEGEND. Although we provide rules for user conduct, we&nbsp;are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on eLEGEND, and&nbsp;are not responsible for the conduct, whether online or offline, of any user of eLEGEND.</li>
</ol>
<h4><strong>8. Disclaimers and Limitation of Liability</strong></h4>
<p>We try to keep eLEGEND up, bug free, and safe but you use it at your own risk. We provide eLEGEND as is without any express or implied warranties including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, and non-infringement. We do not guarantee that eLEGEND will be safe, secure, error-free, and without loss of data on our Services or that it will always function without disruptions, delays or imperfections. We are not responsible for actions, content, information, or data of third parties, and you release us from any claims and damages, known and unknown, arising out of or in any way connected with any claims you have against any such third parties.</p>
  </div>
  <div role="tabpanel" class="tab-pane" id="policy">
<h3><strong>Privacy Policy</strong></h3>
<p>Protecting your private information on eLEGEND is our highest priority. As a result, we have developed this Statement of Privacy ("Privacy Statement") for the purpose of governing data collection and usage on <a href="http://www.elegend.net/">www.elegend.net</a> and eLEGEND as a whole. By using eLEGEND and <a href="http://www.elegend.net/"> www.elegend.net</a>, you consent to the data practices described in this statement.</p>
 <h4><strong>Collecting your Personal Information:</strong></h4>
 <p>We collect personal identifiable information in order to verify your unique identity and provide you with our Services on eLEGEND. Information currently collected includes your full name, date of birth, and e-mail address. In the future, other personal and non-personal information may be gathered.</p>
 <p>Your computer hardware, software, and gaming statistics may be collected by eLEGEND. This information can include but not limited to: your IP address, domain names, access times, access duration, browser type, and referring website addresses. We use this information for operating eLEGEND Services, to maintaining eLEGEND Service quality, and to gather statistics regarding the use of eLEGEND and its Services.</p>
<p>Please be aware that any information you directly disclose through eLEGEND's public feeds or your user profile, including personally identifiable information and sensitive personal data, may be collected and used by others outside of our control.</p>
<p>We are not responsible for contents or privacy policies of websites outside of eLEGEND, and we encourage you to review the privacy statements of other website you choose to navigate to from eLEGEND.</p>

<h4><strong>Using Cookies: </strong></h4>

<p>eLEGEND website may use "cookies", a small file that will be placed on your computer's hard disk, for the purpose of personalizing your experience with our Services. These cookies are assigned uniquely to you and can only be read by the specific web server domain that assigned you the cookies.</p>
<p>We use cookies primarily to save you time on certain features on the website. Cookies lets our servers know that you are navigating to a page that you had been before, and helps eLEGEND recall specific information on your revisit. This greatly simplifies the process of recording and retrieving your personal information so that you can access our Services quicker and with your customized features ready for you.</p>
<p>You reserve the ability to either accept or decline our cookies, but note that most web browsers automatically accept cookies. We encourage you to review your browser settings to adjust your preferences regarding cookies. Do also note that declining cookies may prevent you from getting the full interactive experience from features of our Services.
</p>
<h4><strong>Securing your Personal Information: </strong></h4>
<p>eLEGEND take reasonable steps to secure your personal information from unauthorized access, use, and disclosure. Both your e-mail address and password will be encrypted. Please refer to our eLEGEND Terms of Service regarding commitments by you in helping keep eLEGEND and your account safe and secure.</p>

<h4><strong>Age Restriction: </strong></h4>

<p>Children under the age of thirteen must have parent or guardian permission to use eLEGEND and its Services. eLEGEND does not knowingly collet personally identifiable information from children under the age of thirteen.</p>

<h4><strong>Amendments: </strong></h4>

<p>We will notify you before we make changes to this Privacy Statement. Your continued use of eLEGEND Services, after notice of changes to our Privacy Statement, constitutes your acceptance of our amendments.</p>

<h4><strong>Contact and Support: </strong></h4>

<p>If you have any questions about our Privacy Policy, you can reach us at:</p>

<h5><strong>Email:</strong></h5>
<a href="mailto: support.elegend.net"> support.elegend.net</a>

<h5><strong>Phone:</strong></h5>
<a href="tel: +1 780-885-8890">+1 780-885-8890</a>

 </div>
    
</div>        

              </div>
        </div>
    </section>
</div>
    
<%= content_for :signin_js do %>      
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/owl.carousel.js"></script>
<script src="/assets/jquery.magnific-popup.min.js"></script>
<script src="/assets/creative-brands.js"></script>
<script src="/assets/jquery.vegas.min.js"></script>
<script src="/assets/twitterFetcher_min.js"></script>
<script src="/assets/jquery.countdown.min.js"></script>
<script src="/assets/custom.js"></script>
<% end %>