<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="row">
				<div class="col-md-11">
					<%= newsfeed.post %>
				</div>
				<div class="col-md-1">
			  		<%= newsfeed.created_at.strftime("%H:%M") %>
			  	</div>
	  		</div>
	  	</div>
  	</div>
</div>