<p>Hello <%= @resource.first_name %>,</p>

<p>Welcome to eLEGEND! Thanks for registering on our website and you're only one click away from accessing the greatest gaming social network ever!</p>

<p>Please click on this <%= link_to 'link', confirmation_url(@resource, confirmation_token: @token) %> to confirm your registration!</p>

<p>Should you have any questions or need any help with our services, please send an email to support@elegend.net!</p>

<p>Thanks again and looking forward to meet you online!</p>


<p>Game on!</p>