<p>Hello <%= @resource.first_name %>!</p>

<p>Did you forget your password?! If so, please follow the link below to get it reset!</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't, and this just happens to be a big mistake, then please just ignore this all together!</p>
<p>Should you need any further assistance, please send an email to <a href="mailto:support@elegend.net">support@elegend.net</a>!</p>
<p>Game on!</p>
<p>eLEGEND Support Community</p>
