
<ul class="nav nav-sidebar">
	<% @channels.each do |channel| %>
	<li><%= link_to channel.name, channel_path(:id => channel.id) %></li>
	<% end %>
</ul>

<!-- <li><a href="#">Minecraft<span>18</span></a></li> -->